* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/Image\ 2.png");
  background-size: cover;
}

header {
  display: flex;
  justify-content: center;
  padding: 3%;
}

main {
  margin-top: 10%;
}
